.botonVermas {
    background-color: gray;
    border-color: white;
    align-items: center;
    justify-content: center;


    &:hover {
        background-color: red;
        color: black;
        border-color: $gris;
        }
}

 




