.botonVermas {
    background-color: gray;
    border-color: #b4b4b4;
    align-items: center;
    justify-content: center;


    &:hover {
        background-color: white;
        color: black;
        border-color: white;
        }
}

 




